export PROJECT="my-gcp-project-id"
export SERVICE_ACCOUNT="123456789-compute@developer.gserviceaccount.com"
export REMOTE_USER="myuser"

export CPU_ZONE="us-central1-a"
export CPU_REGION="us-central1"
export CPU_NAME="my-cpu"

export TPU_ZONE="us-west4-a"
export TPU_REGION="us-west4"
export TPU_NAME="my-tpu"
export NUM_WORKERS=4
